.root{
  --branding-color:blue;
  --secondary-color:lightblue;
  --heading-font-family:"Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4{
  font-family:var(--heading-font-family);
  color:black;
  font-weight: bold;
}

p {
  font-family: var(--default-font-family);
  font-weight: bold;

}

.hero{
  text-align: center;
  background:rgb(237, 241, 242);
  padding:60px 0;

}

.hero p{
font-size: 36px;
}

.hero h1{
  font-size: 96px;
}
.hero h2{
  font-weight: normal;
}

.btn {
  background:blue;
  border-radius: 4px;
  color: white;
  font-size: 18px;
}

a{
  text-decoration: underline;
}