body {
  background: rgb(237, 241, 242);
}

h1,
h2,
h3,
h4{
  font-family: "Playfair Display", serif;
  color: black;
  font-weight:bold;
  text-align: center;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  margin-top: 32px;
  font-size: 18px;
 
}

.hero {
  text-align: center;
  background: rgb(237, 241, 242);

}

.hero p {
  font-size: 36px;
  font-weight: bold;
}
.hero h2{
  font-size: 76px;
 
}
.about-section{
  margin-top: 110px;
}
.about-section h2{
  font-family:"Poppins", sans-serif;
}

.hero h1 {
  font-size: 96px;
}
.logo{
max-width: 75px;
}


.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 26px;
}
 
.contact-link {
  background: blue;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  border: 1px solid blue;
}

.about-link {
  background: blue;
  color: white;
  border: 1px solid blue;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.homepage-link {
  color: blue;
  text-align: center;
  display: block;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
   }
P{
  font-size: 24px;
  color: black;
}
h1 {
  font-size: 96px;
  margin-top: 90px;
}
.btn{
display: block;
margin:auto;
font-size: 26px;
padding:10px;
border: 10px;
height: 60px;
width: 300px;
}
.work-section p{
text-align: center;
font-size:18px ;
margin-top: 1px;
}

.nav-item{
 font-size: 18px;
 color: black;
 font-weight: bold;
}

.contact-section h1{
  background: rgb(169, 153, 229);
  border-radius: 1px solid rgb(169, 153, 229)  ;
  box-shadow: 2px 2px;
  text-align: centre;
}

.contact-section p{
  font-size: 22px;
  color:black;
  font-weight: medium;

}
.contact-section a{
  color:blue;
}
.contact-section a:hover{
 background: blue;
 color: white;
 text-decoration: none;
}
footer .email-link{
text-decoration: none;
color: black;
font-size: 24px;
text-align: center;
  font-weight: bold;
}

footer .email-link:hover{
  color:blue;
  background: rgb(237, 241, 242);

}
footer .social-links a{
margin: 0 20px;
color: blue;
padding: 10px 14px;
font-size: 20px;
transition: all 150ms ease-in-out;
}

footer .social-links a:hover{
color: white;
background: blue;
}